$primarycolor: #37517E; 
$lightBlue:#8692A6;
$deepgrey:#494949;
$lightgrey:#858585;

.container-fluid{
    .row {
        .hero-image{
            background-color:#37517E;
            height: 100vh;
            text-align: center;
            color:#fff;
            img{
                object-fit: contain;
                width:100%;
                height: auto;
                margin-top:200px;
                margin-bottom: 40px;
            }
        }
        .col-md-8{
            padding:80px 100px 0 100px;
            .form-div{
                width:60%;
                h2{
                    color:#353D4A;
                    font-weight: 800;
                    font-size:39px;
                }
                p{
                    color:#858585
                }
                form{
                    border-top:2px solid #858585;
                    padding-top:12px;
                    margin-top:20px;
                    .form-group{
                        margin-bottom: 15px;;
                        label{
                            color:#696F79;
                            font-size:14px;
                            font-weight: 600;
                            margin-bottom: 8px;;
                        }
                        div{
                            display: flex;
                            label{
                                margin-top: 7px;
                                margin-left: 10px;
                            }
                        }
                        .form-control{
                            background:transparent !important;
                            border:1px solid #8692A6;
                            border-radius: 6px;
                            height:45px !important;
                            outline: none !important;
                            color:$deepgrey;
                            padding-left: 20px !important;
                            :focus{
                                box-shadow: 0px 4px 20px #0000001C;
                                border: 1px solid #37517E;
                            }
                        }
                        ::placeholder{
                            font-size:14px;
                            color: #8692A6;
                            font-weight: 600;
                        }
                    }
                    .forgot-password{
                        display: flex;
                        justify-content: space-between;
                    }
                    button{
                        width:100%;
                        background-color: $primarycolor;
                        border:none;
                        height:45px;
                        border:none;
                        border-radius: 6px;
                        font-size:1.2em;
                        font-weight: 600;
                        color:#fff;
                        margin-top:10px;
                    }
                }
                .signUpWithGoogle{
                    padding:30px 0;
                    text-align: center;
                    h6{
                        color:$lightgrey;
                        font-size:16px;
                        font-weight: 400;
                        margin-top:-5px;
                        span{
                            color:$primarycolor;
                            font-weight: 700;
                        }
                    }
                    p{
                        font-size:13px !important; 
                        color:#8692A6;
                    }
                    .horizontal-line{
                        display: flex;
                        margin:20px auto 0 auto;
                        width:80%;
                        justify-content: space-between;
                        p{
                            margin-top: -10px;
                            color:$lightBlue;
                            font-weight: 700;
                        }
                        .firstLine{
                            width:43%;
                            height:2px;
                            background-color:$lightBlue;
                        }
                    }
                    .signUpGoogle{
                        width:100%;
                        background-color: transparent;
                        border:none;
                        height:45px;
                        border:2px solid $primarycolor;
                        border-radius: 6px;
                        font-size:1.2em;
                        font-weight: 600;
                        color:$primarycolor;
                        img{
                            height:20px;
                            display: inline-block;
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }
   
}
         